.header {
  background: #333333;
  height: 74px;
  color: #fff;

  &__container {
    display: flex;
    align-items: center;
    margin-top: 4px;
    justify-content: center;
  }

  &__content-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }

  &__logo {
    margin-left: -30px;

    & img {
      width: 200px;
    }
  }
  &__content {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  &__login {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: -30px;
  }

  &__input {
    padding: 1.12rem;
    font-size: 1.2em;
    height: 37px;
    transition: all 0.5s;
  }

  &__search-container {
    width: 400px;
    display: flex;

    position: relative;
    & .fa-search {
      transition: 1s;
      position: absolute;
      top: 49%;
      color: rgba($gray, 0.4);
      left: 2.2rem;
      transform: translate(-50%, -50%);
      font-size: 2.6rem;
    }
    & input {
      padding-left: 4.2rem !important;
      &:focus {
      }

      &:focus + i {
        color: rgba($secondary, 0.6);
      }
    }

    & select {
      height: 35px;
    }

    @media only screen and (max-width: $bp-1300) {
      width: 300rem;
    }
  }

  &__humburger-container {
    & .fa-search {
      // display: none;
    }
  }

  &__search-active {
    border-radius: 0.5rem;
    padding: 2.1rem 1.2rem;
    transition: all 0.5s;
    cursor: pointer;
    height: 20px;
    display: none;
    &:hover,
    &--active {
      background: rgba($gray, 0.5);
    }
  }

  &__floating-searchbar {
    background: $gray-light;
    height: 46px;
    opacity: 1;
    position: relative;

    justify-content: center;
    border-top: 3px solid $gray;
    transition: all 0.5s;
    overflow: hidden;
    display: none;

    & > * {
      // flex-grow: 1;
    }
    select {
      height: 26px;
      padding: 0.5rem 1.2rem;
      font-size: 1em;
    }
    &--closed {
      height: 0;
      opacity: 0;
      transition: all 0.5s;
    }
  }
  // old sass
  &__wrapper {
    height: inherit;
    display: flex;

    align-items: center;

    & .wrapper__logo {
      position: absolute;
      left: -3rem;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 200px;
    }

    & .wrapper__login {
      position: absolute;
      right: -30rem;
      top: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      gap: 2.6rem;
      & .button {
        min-width: 8rem !important;
      }
    }

    @media only screen and (max-width: 1650px) {
      & .wrapper__login {
        right: -6rem;
      }
    }
  }

  &__search-container {
    width: 46rem;
    transition: all 0.5;
  }

  &__humburger {
    border-bottom: 3px solid $white;
    border-radius: 1px;
    width: 2.5rem;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
    display: block;
  }
  &__humburger::before {
    content: '';
    position: absolute;
    border-radius: 0.5rem;
    top: 0px;
    width: 2.5rem;
    display: block;
    border-bottom: 3px solid $white;

    cursor: pointer;
    transition: 0.5s;
  }
  &__humburger::after {
    content: '';
    position: absolute;
    top: 6.6px;
    width: 1.8rem;
    display: block;
    border-radius: 11.5rem;
    border-bottom: 3px solid $white;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 4px;
  }

  &__menu--closed {
    border: 0px;
    transition: 0.3s;
  }

  &__menu--closed::before {
    transform: rotate(135deg) !important;
    top: 4px;
  }

  &__menu--closed::after {
    transform: rotate(222deg) !important;
    top: 4px;
    margin-left: 0;
    width: 2.5rem;
  }

  &__humburger-container {
    margin-left: 1rem;

    align-items: center;
    // display: none;
  }

  @media only screen and (max-width: $bp-1000) {
    &__humburger-container {
      display: flex;
    }
  }
}
