// COLORS
$white: #fff;
$black: #000;
$gray-light: #f2f4f5;
$gray: #989898;
$primary: #ffbe00;
$secondary: #0076ff;
$light-blue: #f1f7ff;
$green: #81b290;
$color-dark: #333333;

// text
$text-1: #aeaeae;
$text-2: #7d7d7d;

// variants
$variant-1: #999999;
$variant-2: #0076fe;
$variant-3: #8bab95;
$variant-4: #f86060;
$variant-5: #333333;
$variant-6: #283646;
$variant-7: #eee;

// languages colors
$color-javascript: #ffbe00;
$color-php: #38c8be;
$color-java: #5eb967;
$color-python: #8159b1;

$transparent-white: rgba(255, 255, 255, 0.2);

// screen size
$screen-size-1200: 1200px;

// BREAK-POINTS
$bp-1300: 1300px;
$bp-1100: 1150px;
$bp-1000: 1000px;
$bp-860: 860px;
$bp-800: 800px;
$bp-710: 710px;
